#consent {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-background-800;
    align-items: center;

    img {
        height: 100px;

        @media (max-width: $breakpoint_s) {
            display: none;
        }
    }

    .content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .actions {
        display: flex;
        gap: 16px;

        button {
            padding: 8px;

            &:last-child {
                opacity: .8;
            }
        }
    }
}
