#dashboard {
    & > div:first-child {
        max-width: 50%;
        margin-bottom: 48px;

        @media (max-width: $breakpoint_s) {
            max-width: unset;
        }

        .caption {
            font-size: $font-size-m;
            margin-bottom: 48px;
        }
    }

    & > div:nth-child(2) {
        .subtitle {
            margin-bottom: 32px;
        }

        img {
            $margin: -16px;
            margin: 0 $margin;
            width: calc(100% - #{$margin} * 2);
        }
    }
}
