.dashboard {
    & > div:first-child {
        max-width: 50%;
        margin-bottom: 48px;

        .caption {
            font-size: $font-size-m;
            margin-bottom: 48px;
        }
    }

    & > div:nth-child(2) {
        .subtitle {
            margin-bottom: 32px;
        }

        img {
            margin-left: -16px;
            margin-top: -16px;
        }
    }
}
