@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Code+Pro&family=Varela+Round&display=swap');

body {
    background-color: $color-background-900;
    font-family: "Varela Round", sans-serif;
    font-size: $font-size-s;
    color: $color-text-87;
}

a {
    text-decoration: none;
    color: $color-text-100;
}

h4 {
    font-size: $font-size-l;
}

h5 {
    font-size: $font-size-m;
}

header {
    height: 128px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint_s) {
        height: 96px;
        margin-bottom: 32px;
    }
}

ul, ol {
    list-style: none;
    padding: 0;
}

section {
    margin-bottom: $section-gap;

    &:last-child {
        margin-bottom: $last-section-gap;

        @media (max-width: $breakpoint_s) {
            margin-bottom: $last-section-gap / 2;
        }
    }
}

canvas {
    height: $section-gap;
    margin-top: -$section-gap;
    width: 100%;
    pointer-events: none;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .5);
}
