#how-it-works {
    display: flex;

    .title {
        margin-bottom: 48px;
    }

    div {
        flex: 1;
    }

    & > div:nth-child(2) {
        text-align: right;

        .text {
            padding-left: 32px;
        }

        .text:nth-child(2) {
            margin-bottom: 16px;
        }
    }

    ol {
        letter-spacing: $letter-spacing-l;

        li {
            display: flex;
            justify-content: space-between;
            font-size: $font-size-l;
            margin-bottom: 48px;
        }
    }
}
