$height: 500px;
$list-item-spacing: 16px;

#modules {
    .title {
        margin-bottom: 48px;
    }   
}

.module-action-container {
    display: flex;

    @media (max-width: $breakpoint_l) {
        flex-direction: column;
    }
} 

#module-list {
    margin-left: -$list-item-spacing;
    margin-right: 0;
    height: $height;

    @media (max-width: $breakpoint_l) {
        margin-right: -$list-item-spacing;
        margin-bottom: $list-item-spacing * 3;
        height: unset;
    }
}

.module-list-item {
    display: flex;
    align-items: center;
    padding: 16px;
    width: 400px;
    background-color: $color-background-800;
    border-radius: 32px;
    margin: $list-item-spacing;
    cursor: pointer;
    position: relative;
    transition: background-color 150ms;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    &.active {
        background-color: $color-background-700;
    }

    img {
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }

    &:nth-child(2) {
        margin-top: 0;

        .connector:before {
            display: none;
        }
    }

    @media (max-width: $breakpoint_l) {
        width: unset;
    }
}

.module-name {
    font-family: inherit;
}

#module-content {
    $padding: 48px;

    width: 100%;
    background-color: $color-background-800;
    border-radius: 32px;
    padding: $padding;
    height: $height - $padding * 2;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    @media (max-width: $breakpoint_l) {
        width: unset;
        height: unset;
        padding: 32px;
    }
}

.module-features, .module-commands, .module-max-instances > div {
    margin-bottom: 48px;
}

.module-feature {
    margin-bottom: 16px;
    padding-left: 24px;
    position: relative;

    @media (max-width: $breakpoint_s) {
        font-size: $font-size-xs;
    }

    &:before {
        content: "";
        background-image: url("/assets/arrow-right.svg");
        background-position: center;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.module-command {
    margin-bottom: 32px;

    @media (max-width: $breakpoint_s) {
        font-size: $font-size-xs;
    }
}

.module-command-desc {
    margin-bottom: 8px;
}

.module-command-usage {
    padding: 8px;
    font-family: "Source Code Pro", monospace;
    background-color: $color-background-700;
    border-radius: 4px;
}

.module-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    img {
        max-height: 100px;
        max-width: 100%;
    }
}

.module-max-instances .amount {
    font-weight: 700;
}
