@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Source+Code+Pro&family=Varela+Round&display=swap');
@import "./_var.scss";

body {
    background-color: $color-background-900;
    font-family: "Varela Round", sans-serif;
    margin: 0;
    color: $color-text-100;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: $color-text-100;
}

.btn {
    padding: 10px 16px;
    border-radius: 4px;
    border: none;
    font-size: $font-size-xs;
    letter-spacing: $letter-spacing-l;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 150ms;

    &:hover {
        background-color: $color-background-800;
    }
}

.btn-primary {
    background-color: $color-action-primary;
    color: $color-text-87-inverted;

    &:hover {
        background-color: $color-action-primary-darkened;
    }

    &:after {
        background-image: url("/assets/chevron-right-inverted.svg") !important;
    }
}

.btn-secondary {
    background-color: $color-background-900;
    border: 1px solid $color-action-primary;
}

.btn-arrow {
    padding-right: 36px;
    position: relative;

    &:after {
        content: "";
        background-image: url("/assets/chevron-right.svg");
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        right: 8px;
        top: 6px;
    }
}

.link {
    text-transform: uppercase;
    letter-spacing: $letter-spacing-l;
    font-size: $font-size-s;
}

header {
    height: 128px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    
    img {
        width: 48px;
        margin-right: 12px;
    }

    span {
        color: $color-text-87;
        font-size: $font-size-m;
        letter-spacing: $letter-spacing-l;
    }
}

.hero {
    .primary {
        font-size: $font-size-xxl;
        margin-bottom: 16px;
        letter-spacing: $letter-spacing-l;
    }

    .secondary {
        font-size: $font-size-l;
        margin-bottom: 24px;
    }

    .actions {
        display: flex;
        margin-bottom: 64px;

        .btn:first-child {
            margin-right: 32px;
        }
    }

    .desc {
        width: 50%;
        font-size: $font-size-s;

        div:first-child {
            margin-bottom: 16px;
        }
    }
}
